server {
    listen 80;

    # 1. Serves the Frontend
    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    # 2. PROXY RULE (Add this part)
    location /api/ {
        # 'backend' is the service name from your docker-compose.yml
        proxy_pass http://10.192.190.158:5002; 
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}